.auth__link {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 1;
  transition: opacity .3s linear;
}

.auth__link:hover {
  opacity: 0.6;
}