.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 959px) {
  .header__menu {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 768px) {
  .header__menu {
    padding-bottom: 28px;
    padding-left: 30px;
    padding-right: 30px;
  }
}