.header__logo {
  /* box-sizing: border-box; */
  /* padding-bottom: 41px;
  margin-bottom: 40px; */
}

@media (max-width: 878px) {
  .header__logo {
    padding-left: 50px;
  }
}

@media (max-width: 768px) {
  .header__logo {
    padding-bottom: 31px;
    padding-left: 27px;
  }
}