.header__logo {}

@media (max-width: 959px) {
  .header__logo {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 768px) {
  .header__logo {
    padding-bottom: 31px;
    padding-left: 27px;
  }
}