.header {
  max-width: 880px;
  min-width: 320px;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 45px;
}

@media (max-width: 768px) {
  .header {
    padding-top: 28px;
  }
}