.profile__info {
  box-shadow: 0 0 0 1px rgb(0, 57, 243);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  /* max-width: 486px; */
  width: 55.2%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .profile__info {
    flex-direction: column;
    margin: auto;
    width: 88%;
  }
}